*{
	box-sizing: border-box;
}

main{
	height: 100vh;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
}

header{
	padding:50px 0px;
}

section{
	height:60%;
	width:80%;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
}

.center_paragraph{
	min-height:350px;
}
.projects{
	display:flex;
	height:100%;
	flex-direction:column;
	align-items:center;
}
nav{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	height:80%;
}

.link_bar{
	width:80%;
	margin:0 auto;
	display:flex;
	flex direction:row;
	justify-content:space-between;
	align-items:center;
}

.contact_info{
	display:flex;
	flex-direction:column;
}

.contact_buttons{
	height:100%;
	width:20%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	
}

.center_bar{
	display:flex;
	flex-direction:column;
	align-items:center;
	
}

.img{
	width: 300px;
	height:300px;
	margin:20px;
}

.img_wrap{
	margin:0 auto;
	width:80%;
}
.float_img{
	float:left;
}

.float_title{
	margin:0 auto;
}
.text_box{
	width:50%;
	display:flex;
	flex-direction:column;
}

.header_placement{
	display:flex;
	flex-direction:row-reverse;
}

