*{
	box-sizing: border-box;
}

body{
	background-color:#F8F7F2;
}
h1{
	background-color:#EC6205;
	border-radius:16px;
	border-style: solid;
	border-width:2px;
	border-color:black;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
}

h2{
	border-radius:16px;
	border-style: solid;
	border-width:2px;
	border-color:black;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
}


main{
	height: 100vh;
	margin:0 auto;
	display: flex;
	flex-direction: column;
}
a{
	font-size:18px;
	padding:10px;
	border-radius:16px;
	border-style: solid;
	border-width:2px;
	border-color:black;
	margin:0 auto;
	text-decoration:none;
	color:black;
}

a:hover, a:active{
	background-color:#EC6205;
}

section{
	height:70%;
	width:80%;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
}

.center_paragraph{
	min-height:400px;
}
.projects{
	display:flex;
	height:100%;
	margin-right:250px;
	flex-direction:column;
}
nav{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	height:80%;
	margin:0px 5=40px;
}

.link_bar{
	width:80%;
	margin:0 auto;
	display:flex;
	flex direction:row;
	justify-content:space-between;
	align-items:center;
	margin-top:30px;
	margin-bottom:30px;
}


footer{
	background-color:#058FEC;
	border-radius:16px;
	border-style: solid;
	border-width:2px;
	border-color:black;
	padding:20px 20px;
}


.contact_info{
	display:flex;
	flex-direction:column;
}

.contact_buttons{
	height:100%;
	width:200px;
	display:flex;
	justify-content:space-around;
	align-items:center;
	
}

.center_bar{
	display:flex;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	width:80%;
	flex-direction:column;
	align-items:center;
	background-color:#058FEC;
	border-radius:16px;
	border-style: solid;
	border-width:2px;
	border-color:black;
	padding:20px 20px;
	
}

.img{
	width: 300px;
	height:300px;
	margin:20px 50px;
}

.img_wrap{
	margin:0 auto;
	width:80%;
}
.float_img{
	float:left;
}

.float_title{
	margin:0 auto;
}
.text_box{
	width:50%;
	display:flex;
	flex-direction:column;
}

.header_placement{
	display:flex;
	flex-direction:row-reverse;
}

.top_link{
	margin:0px 100px;
}

